/* CSS Document */
/* **************************************** /

@package		css
@title			MLSFinder.css
@contributors	AJ Michels (aj.michels@wolfnet.com)
@version		1.0

/ ***************************************** */

.mlsFinder_listingFilmStripOptions
{
}

.mlsFinder_widget
{
	&.mlsFinder_listingFilmStrip
	{
		/* display:none; */
		overflow: hidden;
		white-space: nowrap;
		height: 140px;
		
		.filmStripContainer
		{
			height:140px;
			
			.mlsFinder_listing
			{
				width: 150px;
				height: 140px;
				float: left;
				
				.detailsLink
				{
					display:block;
				}
				
				.listingImage
				{
					width:140px;
					height:75px;
					display:block;
					overflow:hidden;
					
					img
					{
						border:none;
						height:75px;
					}
				}
				
			}
		}
	}
}