/**
 * CSS Document
 * 
 * @package       css
 * @title         wolfnet.css
 * @contributors  AJ Michels (aj.michels@wolfnet.com)
 * @version       1.0
 * 
 */
.toplevel_page_wolfnet_plugin_settings h2 {
  line-height: 36px;
}
.toplevel_page_wolfnet_plugin_settings #icon-options-wolfnet {
  background: transparent url(../img/wp_wolfnet_title.png) no-repeat 0px 0px;
}
.toplevel_page_wolfnet_plugin_settings .icon32#icon-options-wolfnet {
  height: 39px;
}
.wolfnet_featuredListingsOptions form select, .wolfnet_listingGridOptions form select {
  height: auto;
}
.wolfnet_featuredListingsOptions table tbody tr td, .wolfnet_listingGridOptions table tbody tr td {
  vertical-align: top;
}
.wolfnet_featuredListingsOptions label, .wolfnet_listingGridOptions label {
  font-weight: bold;
  white-space: nowrap;
}
.wolfnet_featuredListingsOptions fieldset, .wolfnet_listingGridOptions fieldset {
  border: 1px solid #555;
  padding-bottom: 2em;
}
.wolfnet_featuredListingsOptions fieldset legend, .wolfnet_listingGridOptions fieldset legend {
  margin-left: 1em;
  font-size: 1.15em;
}
.wolfnet_featuredListingsOptions .disabled, .wolfnet_listingGridOptions .disabled {
  color: #999;
}
