/**
 * CSS Document
 * 
 * @package       css
 * @title         wolfnet.css
 * @contributors  AJ Michels (aj.michels@wolfnet.com)
 * @version       1.0
 * 
 */
.wolfnet_widget {
  margin: 1em auto 2em auto;
}
.wolfnet_widget.wolfnet_quickSearch {
  border: 1px solid #DDD;
  padding: 8px;
  background: -moz-linear-gradient(top, #ffffff 60%, #e2e2e2 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(60%, #ffffff), color-stop(100%, #e2e2e2));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #ffffff 60%, #e2e2e2 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #ffffff 60%, #e2e2e2 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #ffffff 60%, #e2e2e2 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #ffffff 60%, #e2e2e2 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#FFFFFF",endColorstr="#E2E2E2",GradientType=0);
  /* IE6-9 */

}
.wolfnet_widget.wolfnet_quickSearch .wolfnet_widgetTitle {
  font-size: 1.5em;
  font-weight: bold;
}
.wolfnet_widget.wolfnet_quickSearch .wolfnet_quickSearch_form label {
  font-size: 1.1em;
  font-weight: bold;
  float: left;
}
.wolfnet_widget.wolfnet_quickSearch .wolfnet_quickSearch_form input, .wolfnet_widget.wolfnet_quickSearch .wolfnet_quickSearch_form select {
  font-size: 1em;
  border: 1px solid #BABABA;
  color: #000;
  margin: 0 0 5px 0;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}
.wolfnet_widget.wolfnet_quickSearch .wolfnet_quickSearch_form input.hintText, .wolfnet_widget.wolfnet_quickSearch .wolfnet_quickSearch_form select.hintText {
  color: #888;
}
.wolfnet_widget.wolfnet_quickSearch .wolfnet_quickSearch_form .wolfnet_searchType,
.wolfnet_widget.wolfnet_quickSearch .wolfnet_quickSearch_form .wolfnet_searchTypeField,
.wolfnet_widget.wolfnet_quickSearch .wolfnet_quickSearch_form .wolfnet_widgetPrice,
.wolfnet_widget.wolfnet_quickSearch .wolfnet_quickSearch_form .wolfnet_widgetBeds,
.wolfnet_widget.wolfnet_quickSearch .wolfnet_quickSearch_form .wolfnet_widgetBaths,
.wolfnet_widget.wolfnet_quickSearch .wolfnet_quickSearch_form .wolfnet_quickSearchFormButton {
  width: 100%;
}
.wolfnet_widget.wolfnet_quickSearch .wolfnet_quickSearch_form ul.wolfnet_searchType {
  margin: 0;
  padding: 0 0 1.5em 0;
  list-style: none;
}
.wolfnet_widget.wolfnet_quickSearch .wolfnet_quickSearch_form ul.wolfnet_searchType li {
  float: left;
  margin: 0 1em 0 0;
}
.wolfnet_widget.wolfnet_quickSearch .wolfnet_quickSearch_form ul.wolfnet_searchType li .wolfnet_active {
  font-weight: bold;
}
.wolfnet_widget.wolfnet_quickSearch .wolfnet_quickSearch_form .wolfnet_searchTypeField input {
  height: 2em;
  width: 97%;
}
.wolfnet_widget.wolfnet_quickSearch .wolfnet_quickSearch_form .wolfnet_widgetPrice {
  margin-top: .3em;
}
.wolfnet_widget.wolfnet_quickSearch .wolfnet_quickSearch_form .wolfnet_widgetPrice div {
  float: right;
  clear: right;
}
.wolfnet_widget.wolfnet_quickSearch .wolfnet_quickSearch_form .wolfnet_widgetBeds, .wolfnet_widget.wolfnet_quickSearch .wolfnet_quickSearch_form .wolfnet_widgetBaths {
  margin-top: .3em;
  clear: both;
  height: 2em;
}
.wolfnet_widget.wolfnet_quickSearch .wolfnet_quickSearch_form .wolfnet_widgetBeds select, .wolfnet_widget.wolfnet_quickSearch .wolfnet_quickSearch_form .wolfnet_widgetBaths select {
  float: right;
}
.wolfnet_widget.wolfnet_quickSearch .wolfnet_quickSearch_form .wolfnet_quickSearchFormButton {
  margin-top: .3em;
  clear: both;
  height: 2.5em;
}
.wolfnet_widget.wolfnet_quickSearch .wolfnet_quickSearch_form .wolfnet_quickSearchFormButton button {
  font-size: 1.6em;
  font-weight: bold;
  height: 100%;
  margin-top: .6em;
  width: 100%;
  margin: 0 auto;
  vertical-align: middle;
  text-align: center;
  line-height: 1em;
}
.wolfnet_widget.wolfnet_quickSearch.wolfnet_wWide .wolfnet_quickSearch_form .wolfnet_searchType,
.wolfnet_widget.wolfnet_quickSearch.wolfnet_wWide .wolfnet_quickSearch_form .wolfnet_searchTypeField,
.wolfnet_widget.wolfnet_quickSearch.wolfnet_wWide .wolfnet_quickSearch_form .wolfnet_widgetPrice,
.wolfnet_widget.wolfnet_quickSearch.wolfnet_wWide .wolfnet_quickSearch_form .wolfnet_widgetBeds,
.wolfnet_widget.wolfnet_quickSearch.wolfnet_wWide .wolfnet_quickSearch_form .wolfnet_widgetBaths,
.wolfnet_widget.wolfnet_quickSearch.wolfnet_wWide .wolfnet_quickSearch_form .wolfnet_quickSearchFormButton {
  width: auto;
  line-height: 1.3em;
}
.wolfnet_widget.wolfnet_quickSearch.wolfnet_wWide .wolfnet_quickSearch_form label {
  width: auto;
  display: inline;
  float: none;
}
.wolfnet_widget.wolfnet_quickSearch.wolfnet_wWide .wolfnet_quickSearch_form .wolfnet_searchTypeField input {
  width: 98.5%;
}
.wolfnet_widget.wolfnet_quickSearch.wolfnet_wWide .wolfnet_quickSearch_form .wolfnet_widgetPrice, .wolfnet_widget.wolfnet_quickSearch.wolfnet_wWide .wolfnet_quickSearch_form .wolfnet_widgetBeds, .wolfnet_widget.wolfnet_quickSearch.wolfnet_wWide .wolfnet_quickSearch_form .wolfnet_widgetBaths {
  float: none;
  margin-right: 1em;
  clear: none;
}
.wolfnet_widget.wolfnet_quickSearch.wolfnet_wWide .wolfnet_quickSearch_form .wolfnet_widgetPrice {
  width: 100%;
  text-align: right;
}
.wolfnet_widget.wolfnet_quickSearch.wolfnet_wWide .wolfnet_quickSearch_form .wolfnet_widgetPrice div {
  display: inline;
  float: none;
  clear: none;
}
.wolfnet_widget.wolfnet_quickSearch.wolfnet_wWide .wolfnet_quickSearch_form .wolfnet_widgetPrice div select {
  display: inline;
  margin-left: 1em;
  float: none;
}
.wolfnet_widget.wolfnet_quickSearch.wolfnet_wWide .wolfnet_quickSearch_form .wolfnet_widgetBedBath {
  width: 100%;
  text-align: right;
}
.wolfnet_widget.wolfnet_quickSearch.wolfnet_wWide .wolfnet_quickSearch_form .wolfnet_widgetBedBath .wolfnet_widgetBeds, .wolfnet_widget.wolfnet_quickSearch.wolfnet_wWide .wolfnet_quickSearch_form .wolfnet_widgetBedBath .wolfnet_widgetBaths {
  display: inline;
  float: none;
  clear: none;
  margin: 0 0 0 1em;
}
.wolfnet_widget.wolfnet_quickSearch.wolfnet_wWide .wolfnet_quickSearch_form .wolfnet_widgetBedBath .wolfnet_widgetBeds select, .wolfnet_widget.wolfnet_quickSearch.wolfnet_wWide .wolfnet_quickSearch_form .wolfnet_widgetBedBath .wolfnet_widgetBaths select {
  display: inline;
  margin-left: 1em;
  float: none;
  clear: none;
}
.wolfnet_widget.wolfnet_quickSearch.wolfnet_wWide .wolfnet_quickSearch_form .wolfnet_quickSearchFormButton {
  height: auto;
  text-align: right;
}
.wolfnet_widget.wolfnet_quickSearch.wolfnet_wWide .wolfnet_quickSearch_form .wolfnet_quickSearchFormButton button {
  font-size: 1.25em;
  height: auto;
  width: auto;
  float: none;
}
.wolfnet_widget.wolfnet_featuredListings, .wolfnet_widget.wolfnet_listingGrid {
  position: relative;
}
.wolfnet_widget.wolfnet_featuredListings .wolfnet_listing, .wolfnet_widget.wolfnet_listingGrid .wolfnet_listing {
  width: 13em;
  float: left;
  margin: 0 auto 1em auto;
  position: relative;
  text-align: center;
  font-size: .8em;
}
.wolfnet_widget.wolfnet_featuredListings .wolfnet_listing a, .wolfnet_widget.wolfnet_listingGrid .wolfnet_listing a {
  color: inherit;
  text-decoration: none;
}
.wolfnet_widget.wolfnet_featuredListings .wolfnet_listing .detailsLink, .wolfnet_widget.wolfnet_listingGrid .wolfnet_listing .detailsLink {
  display: block;
}
.wolfnet_widget.wolfnet_featuredListings .wolfnet_listing .listingImage, .wolfnet_widget.wolfnet_listingGrid .wolfnet_listing .listingImage {
  width: 100%;
  height: 75px;
  display: block;
  overflow: hidden;
  padding: 0;
  margin: 0;
  text-align: center;
}
.wolfnet_widget.wolfnet_featuredListings .wolfnet_listing .listingImage img, .wolfnet_widget.wolfnet_listingGrid .wolfnet_listing .listingImage img {
  border: none;
  height: 75px;
}
.wolfnet_widget.wolfnet_featuredListings .wolfnet_listing .price, .wolfnet_widget.wolfnet_listingGrid .wolfnet_listing .price {
  font-weight: bold;
  display: block;
}
.wolfnet_widget.wolfnet_featuredListings .wolfnet_listing .location, .wolfnet_widget.wolfnet_listingGrid .wolfnet_listing .location {
  display: block;
}
.wolfnet_widget.wolfnet_featuredListings .wolfnet_listing .bed-bath, .wolfnet_widget.wolfnet_listingGrid .wolfnet_listing .bed-bath {
  display: block;
}
.wolfnet_widget.wolfnet_featuredListings .wolfnet_listing .branding .brokerLogo, .wolfnet_widget.wolfnet_listingGrid .wolfnet_listing .branding .brokerLogo {
  display: block;
}
.wolfnet_widget.wolfnet_featuredListings .wolfnet_listing .branding .brandingMessage, .wolfnet_widget.wolfnet_listingGrid .wolfnet_listing .branding .brandingMessage {
  display: block;
}
.wolfnet_widget.wolfnet_featuredListings {
  overflow: hidden;
  white-space: nowrap;
  height: 140px;
  text-align: center;
  /* You can alter this CSS in order to give Smooth Div Scroll your own look'n'feel */

  /* Invisible left hotspot */

  /* Visible left hotspot */

  /* Invisible right hotspot */

  /* Visible right hotspot */

  /* The scroll wrapper is always the same width and height as the containing element (div).
		   Overflow is hidden because you don't want to show all of the scrollable area.
		*/

}
.wolfnet_widget.wolfnet_featuredListings .scrollingHotSpotLeft, .wolfnet_widget.wolfnet_featuredListings .scrollingHotSpotRight {
  /* The hotspots have a minimum width of 100 pixels and if there is room the will grow
			and occupy 15% of the scrollable area (30% combined). Adjust it to your own taste. */

  min-width: 75px;
  width: 10%;
  height: 100%;
  background-image: url('../img/big_transparent.gif');
  /* There is a big background image and it's used to solve some 
			                      * problems I experienced in Internet Explorer 6. */

  background-repeat: repeat;
  background-position: center center;
  position: absolute;
  z-index: 200;
}
.wolfnet_widget.wolfnet_featuredListings .scrollingHotSpotLeftVisible, .wolfnet_widget.wolfnet_featuredListings .scrollingHotSpotRightVisible {
  background-color: #fff;
  background-repeat: no-repeat;
  opacity: 0.35;
  /* Standard CSS3 opacity setting */

  -moz-opacity: 0.35;
  /* Opacity for really old versions of Mozilla Firefox (0.9 or older) */

  /* filter:            alpha('opacity = 35'); /* Opacity for Internet Explorer. */

  zoom: 1;
  /* Trigger "hasLayout" in Internet Explorer 6 or older versions */

}
.wolfnet_widget.wolfnet_featuredListings .scrollingHotSpotLeft {
  left: 0;
  /* The first url is for Firefox and other browsers, the second is for Internet Explorer */

  cursor: url('../img/cursor_arrow_left.png'), url('../img/cursor_arrow_left.cur'), w-resize;
}
.wolfnet_widget.wolfnet_featuredListings .scrollingHotSpotLeftVisible {
  background-image: url('../img/arrow_left.gif');
}
.wolfnet_widget.wolfnet_featuredListings .scrollingHotSpotRight {
  right: 0;
  cursor: url('../img/cursor_arrow_right.png'), url('../img/cursor_arrow_right.cur'), e-resize;
}
.wolfnet_widget.wolfnet_featuredListings .scrollingHotSpotRightVisible {
  background-image: url('../img/arrow_right.gif');
}
.wolfnet_widget.wolfnet_featuredListings .scrollWrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.wolfnet_widget.wolfnet_featuredListings .scrollWrapper .scrollableArea {
  position: relative;
  width: auto;
  height: 100%;
}
.wolfnet_widget.wolfnet_listingGrid {
  text-align: left;
  margin: 0 auto 0 auto;
  position: relative;
  left: 50%;
}
.wolfnet_widget.wolfnet_listingGrid .wolfnet_listing {
  left: -50%;
  height: 25em;
  text-align: left;
  position: relative;
}
.wolfnet_widget.wolfnet_listingGrid .wolfnet_listing .listingImage {
  margin-bottom: .5em;
  border: 1px solid #dedede;
  background-color: #F5F5F5;
  padding: 10px 0 10px 0;
}
.wolfnet_widget.wolfnet_listingGrid .wolfnet_listing .listingImage img {
  box-shadow: 0 5px 10px rgba(153, 153, 153, 0.25);
}
.wolfnet_widget.wolfnet_listingGrid .wolfnet_listing .price {
  font-size: 1.2em;
}
.wolfnet_widget.wolfnet_listingGrid .wolfnet_listing .bed-bath {
  position: absolute;
  top: 104px;
  right: 0;
}
.wolfnet_widget.wolfnet_listingGrid .wolfnet_listing .branding {
  padding-top: 2em;
}
.wolfnet_widget.wolfnet_listingGrid .wolfnet_listing .branding .brokerLogo {
  display: block;
}
.wolfnet_widget.wolfnet_listingGrid .wolfnet_listing .branding .brandingMessage {
  display: block;
}
.wolfnet_widget .wolfnet_marketDisclaimer {
  clear: both;
  margin-top: 2em;
}
.wolfnet_widget .wolfnet_moreInfo {
  width: 100%;
  height: 18px;
  background: url('../img/info.png') no-repeat center;
}
.wolfnet_widget .wolfnet_moreInfo span {
  display: none;
}
.wolfnet_moreInfo {
  display: block;
  font-style: italic;
  font-size: .9em;
}
.wolfnet_moreInfoIcon {
  display: inline-block;
  width: 18px;
  height: 18px;
  background: url('../img/info.png') no-repeat center;
  vertical-align: top;
}
#tooltip {
  position: absolute;
  z-index: 3000;
  border: 1px solid #D5D5D0;
  background-color: #FFFFD0;
  padding: 10px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  box-shadow: 0 10px 30px #DDD;
  min-width: 100px;
  min-height: 100px;
}
#tooltip h3, #tooltip div {
  margin: 0;
  font-style: italic;
  width: 100%;
}
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
  float: none !important;
}
