/**
 * CSS Document
 * 
 * @package       css
 * @title         wolfnet.css
 * @contributors  AJ Michels (aj.michels@wolfnet.com)
 * @version       1.0
 * 
 */

@imagesDir: '../img/';

.toplevel_page_wolfnet_plugin_settings
{
	
	h2
	{
		line-height: 36px;
	}
	
	#icon-options-wolfnet
	{
		background: transparent url(../img/wp_wolfnet_title.png) no-repeat 0px 0px;
	}
	
	.icon32#icon-options-wolfnet
	{
		height: 39px;
	}
	
}

.wolfnet_featuredListingsOptions,
.wolfnet_listingGridOptions
{
	
	form
	{
		
		select
		{
			height: auto;
		}
		
	}
	
	table
	{
		
		tbody
		{
			
			tr
			{
				
				td
				{
					vertical-align: top;
				}
				
			}
			
		}
		
	}
	
	label
	{
		font-weight: bold;
		white-space: nowrap;
	}
	
	fieldset
	{
		
		border:         1px solid #555;
		padding-bottom: 2em;
		
		legend
		{
			margin-left: 1em;
			font-size:   1.15em;
		}
		
	}
	
	.disabled
	{
		color: #999;
	}
	
}