[submodule "com/greentiedev/phpCommon"]
	path = com/greentiedev/phpCommon
	url = git://github.com/greentiedev/phpCommon.git
[submodule "com/greentiedev/phpSpring"]
	path = com/greentiedev/phpSpring
	url = git://github.com/greentiedev/phpSpring.git
[submodule "com/greentiedev/wppf"]
	path = com/greentiedev/wppf
	url = git://github.com/greentiedev/wppf.git
