[ req ]
default_bits                   = 2048
distinguished_name             = req_distinguished_name
prompt                         = no

[ req_distinguished_name ]
countryName                    = US
ST                             = Minnesota
localityName                   = Minneapolis
organizationName               = WolfNet Technologies
organizationalUnitName         = Development
commonName                     = wolfnet
emailAddress                   = service@wolfnet.com
